<div class="posts-list">
  {{#each posts}}
  <div class="post">
    <h2><a href="/post/{{id}}">{{title}}</a></h2>
    <p class="post-meta">By {{User.username}} on {{date_created}}</p>
    <p>{{content}}</p>

    {{#if ../logged_in}}
    <a href="/post/{{id}}/comment">Add Comment</a>
    {{/if}}
  </div>
  {{/each}}

{{#unless logged_in}}
<div class="not-logged-in">
  <h2>Log in or Sign up here to join in!</h2>
  <div class="buttons">
    <a href="/login" class="btn btn-primary">Join Us!</a>
  </div>
</div>
{{/unless}}




